.app-header{
    background-color:#000000;
    display: flex;
    justify-content: center;
}

.header-logo{
    height: 3em;
}

.app-body{
    margin-top: 1em;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.app-submit-query{
    font-size: 2em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.query-field{
    width: 80%;
    font-size: inherit;
}

.text-field{
    height: 40em;
    width: 80%;
}

.text-container{
    display: flex;
    justify-content: center;
}

.continue-button{
    width: 80%;
    font-size: inherit;
}