:root{
    background-image: url('dialog-background.jpg');
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    font-size: 16px;
}